{% extends 'common/base.html' %}
{% load static %}

{% block content %}
  <i class="fas fa-home page_icon"></i>
  {% block nav_home %}
  {% endblock %}
  <div id="home_management">
      <div class="total">
          <div class="des">TOTAL</div>
          <div class="value">{{ total }}</div>
      </div>
      <div class="detail">
          <div class="item">
              <div class="des">馥香雞</div>
              <div class="value">{{ chicken }}</div>
          </div>
          <div class="item">
              <div class="des">日料、小菜</div>
              <div class="value">{{ hotpot }}</div>
          </div>
          <div class="item">
              <div class="des">支出</div>
              <div class="value">{{ expense }}</div>
          </div>
      </div>
  </div>
{% endblock %}