{% load static i18n %}

<!doctype html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <title>記帳系統</title>
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% static 'images/account.png' %}" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="DC.Publisher" content="" />
    <meta name="DC.Description" content="" />
    <meta name="DC.Type" content="Website" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.15.1/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'less/account.css' %}">

    {% block css %}
    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <div id="nav">
            {% block nav_home %}
                <a class="nav_home" href="{% url 'account:index' %}">
                    <i class="fas fa-home icon"></i>
                    <span>回首頁</span>
                </a>
            {% endblock nav_home %}
            <div class="nav_content">
                <i class="fas fa-bars menu-icon"></i>
                <div class="list">
                    <a href="{% url 'account:chicken' %}"><i class="fas fa-kiwi-bird icon"></i></a>
                    <a href="{% url 'account:hotpot' %}"><i class="fas fa-utensils icon"></i></a>
                    <a href="{% url 'account:expense' %}"><i class="fas fa-money-bill-alt icon"></i></a>
                    <a href="{% url 'account:report' %}"><i class="fas fa-scroll icon"></i></a>
                    <a href="{% url 'account:system_management' %}"><i class="fas fa-cog icon"></i></a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

<script src="{% static 'vendor/fontawesome-free-5.15.1/js/all.min.js' %}"></script>
<script src="{% static 'vendor/jquery-3.5.1.min.js' %}"></script>

{% block js %}
{% endblock %}

</html>
